/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color:#F9F3EB
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #EFE0CC;
	font-family: "quicksand", sans-serif;
	font-variant-caps: all-petite-caps;
	border-style: dotted; 
	border-color: #F62315
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "♥";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	color: #DD919F !important;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

.biography-section {
	font-family: "Abril Fatface", serif;
	box-shadow: inset 0 0 0 0 #F62315;
}

.first-heading {
	color: #F62315;
  	padding: 0 .25rem;
  	margin: 0 -.25rem;
  	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	font-family: "Abril Fatface", serif !important; 
	font-variant-caps:normal !important;
}

.first-heading:hover {
  color: #F62315;
  box-shadow: inset 320px 0 0 0 #B5BB6B;
}

.second-header {
	color:#DD919F !important;
	font-family: "Quicksand", sans-serif;
}

.third-header{
	color:#B5BB6B !important;
}


.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.biography-contents {
	font-family: "quicksand", sans-serif;
	font-variant-caps: all-petite-caps;
}

.language-level{
	border-color: #F1080C !important;
}

.language-progress{
	background-color:#DD919F !important;
}

.header-content{
	font-family: "Abril Fatface", serif;
  	font-weight: 400;
  	font-style: normal;
}

